faiss-cpu>=1.10.0
google-cloud-logging>=3.11.4
langchain>=0.3.20
langchain-experimental>=0.3.4
langchain-google-firestore>=0.5.0
langchain-google-vertexai>=2.0.14
langchain-openai>=0.2.0
langchain-ollama>=0.2.3
pandas>=2.2.3
pypdf>=5.4.0
toml>=0.10.2
tqdm>=4.67.1
mypy>=1.15.0
ipykernel>=6.29.5
ragas>=0.2.14
langfuse>=2.60.0
deepeval>=2.7.0
chonkie[st]>=1.4.0
openpyxl>=3.1.5
python-dotenv>=1.2.1
gcloud>=0.18.3
fitz>=0.0.1.dev2
